[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-lorem = {editable = true,path = "."}
autopep8 = "*"
bandit = "*"
mypy = "*"
pylint = "*"
ipython = "*"
coverage = "*"
codecov = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
furo = "*"
sphinxext-opengraph = "*"
sphinx-copybutton = "*"
rstcheck = {extras = ["sphinx","toml"],version = "*"}
esbonio = "*"
vermin = "*"
types-docutils = "*"
types-setuptools = "*"
tox = "*"
build = "*"
twine = "*"

[packages]

[requires]
python_version = "3"
