[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "sjtu"
url = "https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-lorem = {editable = true,path = "."}
autopep8 = "*"
bandit = "*"
mypy = "*"
pylint = "*"
ipython = "*"
coverage = "*"
codecov = "*"
sphinx = "*"
rstcheck = "*"
tox = "*"

[packages]

[requires]
python_version = "3.8"
